@charset "UTF-8";

@font-face {
    font-family: LoLFont;
    src: url(../fonts/leagueoflegendsfont.ttf) format('truetype');
}

* {
    font-family: LoLFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9f9;
    --light-grey: #ececec;
    --grey: #c4c4c4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000;
    --blue: #1b77f3;
    --red: #cf3c3f;
}

main {
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    padding: clamp(30px, 8%, 70px);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginlogo {
    width: 130px;
    margin-bottom: 80px;
}

.logintitle {
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.loginlabel {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.loginlabel span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus {
background: var(--whitesmoke);
border: 2px solid var(--deep-grey);
}

.loginlabel .spanactive {
    font-size: 0.7em;
    margin: 8px 10px;
}

.loginicons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.loginicons img {
    width: 20px;
}

.iconsbuttons {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.loginicons .iconsbuttons:nth-child(1) {
    background-color: var(--blue);
}

.loginicons .iconsbuttons:nth-child(1):hover {
    background-color: #1a6fdf;
}

.loginicons .iconsbuttons:nth-child(2) {
    background-color: var(--light-grey);
}

.loginicons .iconsbuttons:nth-child(2):hover {
    background-color: #e4e4e4;
}

.loginicons .iconsbuttons:nth-child(3) {
    background-color: var(--black);
}

.loginicons .iconsbuttons:nth-child(3):hover {
    background-color: rgb(25, 25, 25);
}

.loginlabelcheckbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.inputcheckbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;
}

.inputcheckbox:checked {
    background-color: var(--red);
}

.inputcheckbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    margin: 3px 6px;
    transform: rotate(45deg)
}

.loginbutton {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}

.loginbutton svg {
    fill: white;
}

.loginbutton:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
}

.loginbutton:disabled svg {
    fill: var(--grey);
}

.loginlink {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}

.loginlink:hover {
    color: var(--deep-grey);
    transition: 200ms ease;
}

.wallpaper {
    background-image: url(../image/wallpaper.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    flex: 1;
}